[Unit]
Description=RFS CobalStrike
After=network.target
Wants=network.target

[Service]
Type=Simple
WorkingDirectory=/opt/cobaltstrike-v4.7
ExecStart=/opt/cobaltstrike-v4.7/teamserver 192.168.159.195 <PASS>
Restart=always


[Install]
WantedBy=default.target